[submodule "commonlib"]
	path = commonlib
	url = https://trolleg@bitbucket.org/trolleg/commonlibmask.git
[submodule "ecogallery"]
	path = ecogallery
	url = https://trolleg@bitbucket.org/trolleg/commonui.git
