<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.oramalabs.beautykit"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name="ru.flightlabs.makeup.activity.SplashScreen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.flightlabs.makeup.activity.ActivityMakeUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="ru.flightlabs.makeup.activity.ActivityPhoto"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="ru.flightlabs.makeup.activity.ActivitySettings"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>